// forward file
@use "../abstracts/forward" as *;

@mixin style {
  .achievements {
    background-color: $primary;
    color: $secondary;
    .achievements-holder {
      position: relative;
      padding: 0.3rem 0;
      display: grid;
      grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
      grid-auto-rows: 1fr;
      justify-items: center;
      align-items: center;
      grid-row-gap: 0.3rem;
      grid-column-gap: 0.2rem;
    }
    .achievements-holder-line {
      border-radius: 0.5rem;
      z-index: 0;
      background-color: $secondary;
      content: "";
      grid-column: 1/2;
      height: 110%;
      width: 0.1rem;
    }
    .achievement-element {
      width: 100%;
      display: grid;
      grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
      justify-items: center;
      align-items: center;
      grid-column: 1/3;
      grid-column-gap: 0.2rem;

      .achievement-element-text {
        position: relative;
        background-color: $secondary;
        color: $font-color;
        padding: 0.3rem 0.25rem;
        border-radius: 0.2rem;
        justify-self: start;
        font-size: $fontSizeMedSmall;
      }
      .achievement-element-text::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -0.2rem;
        width: 0;
        height: 0;
        border-left-width: 0;
        border-top: 0.3rem solid transparent;
        border-bottom: 0.3rem solid transparent;
        border-right: 0.3rem solid $secondary;
      }
      .achievement-element-logo-holder {
        background-color: $secondary;
        padding: 0.1rem;
        border-radius: 50%;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 1/2;
        min-width: 0.75rem;
        min-height: 0.75rem;
        max-width: 1.2rem;
        max-height: 1.2rem;
        width: 70%;
        height: auto;
        svg {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
