// forward file
@use "../abstracts/forward" as *;

@mixin style {
  .achievements {
    background-color: $primary;
    color: $secondary;
    .achievements-holder {
      position: relative;
      padding: 0.2rem 0;
      display: grid;
      grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
      grid-auto-rows: 1fr;
      justify-items: center;
      align-items: center;
      grid-row-gap: 0.3rem;
      grid-column-gap: 0.2rem;
    }
    .achievements-holder-line {
      border-radius: 0.5rem;
      z-index: 0;
      background-color: $secondary;
      content: "";
      grid-column: 1/2;
      height: 100%;
      width: 0.1rem;
    }
    .achievement-element {
      width: 100%;
      display: grid;
      grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
      justify-items: center;
      align-items: center;
      grid-column: 1/3;
      grid-column-gap: 0.2rem;

      .achievement-element-text {
        font-size: $fontSizeMedium;
      }
      .achievement-element-logo-holder {
        background-color: $secondary;
        padding: 0.1rem;
        border-radius: 50%;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 1/2;
        min-width: 0.8rem;
        min-height: 0.8rem;
        width: 100%;
        height: auto;
        svg {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
