// forward file
@use "../abstracts/forward" as *;

@mixin style {
  .home {
    overflow: hidden;
    font-size: $fontSizeSmall;
    background-color: $secondary;
    color: $font-color;
    font-weight: 500;

    .section-heading {
      margin-bottom: 0;
    }
    .home-name {
      display: block;
      color: $primary;
      font-size: $fontSizeMedium;
      font-weight: 700;
      margin-bottom: 0.2rem;
    }
    .home-header {
      white-space: nowrap;
      .home-title {
        display: inline-block;
        text-shadow: 0.01rem 0.01rem 0.02rem $primary;
      }
    }
    .home-para {
      margin: 0.2rem 0;
    }
  }
}
