// Font Config
// Base Fonts
$fontfam: "DM Sans", sans-serif, Verdana, "Courier New", Courier, monospace;
$fontSizeLarge: 0.45rem;
$fontSizeMedium: 0.3rem;
$fontSizeMedSmall: 0.25rem;
$fontSizeSmall: 0.2rem;

// Desktop Fonts
$fontSizeDLarge: 0.7rem;
$fontSizeDMedium: 0.55rem;
$fontSizeDMedSmall: 0.35rem;
$fontSizeDSmall: 0.3rem;
